*{
  margin: 0%;
  padding: 0%;
}


.head
{
  border: 2px solid;
  border-bottom: dashed;
  height: 50px;
  width: 100%;
  border-color: rgba(159, 153, 153, 0.277); 
  background-color:  rgba(79, 76, 76, 0.277);
 position: fixed;

}
#f2
{
  margin-left: 20%;
  margin-top: 1%;
  font-weight: bold;
  color: rgb(2, 2, 119);

 
}
#f3{
  text-align: center;
  margin-left: 45%;
   margin-top: -1%;
    
 
}
/*
#f4
{
 text-align: right;
 margin-top: -2%;
}*/
.header
{
    border: 2px solid;
    border-top: 0px;
    height: 15vh;
    width: auto;
    border-color: rgba(177, 171, 171, 0.277); 
   background-color:    rgba(177, 171, 171, 0.277);  
   position: relative;
   top: 0%;
   border-top: 0px;
  
    
}
img{
   padding-left: 20%;
   padding-top: 2%;
   
  
   
}
.text{
  
  position:relative;
  left: 20%;
  padding: 3%; 
  
 display: inline-block;    
     
}
.circle
{
    border: 2px solid rgba(245, 28, 169, 0.905);
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color:rgba(245, 28, 169, 0.905);
    position: absolute;
     left: 65%;
   top: 85%;
   box-shadow: -15px 8px 3px #b8c903;
 
   
}
.img1
{
 background-color: rgb(247, 245, 245);
 padding-right: 30%;
}

.text1
{
  font-size: large;
   font-weight: bold;
   color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
  padding-left: 15%;
  font-family:Verdana ;

}
.container
{
  border: 2px solid white;
 
  height: 100vh;
  width: auto;

}
.footer1
{
  border: 2px solid  rgba(177, 171, 171, 0.277);
  height: 35vh;
  width: auto;
  background-color: rgba(177, 171, 171, 0.277);
  padding-left: 20%;
  padding-top: 5%;
  
 
}
h2{
  color: rgba(242, 15, 15, 0.701);
  font-family: 'Lucida Sans Regular';
  font-weight: larger;
}
.fimg
{
  margin-top: -20%;
  margin-left: 40%;

}
.footer2
{
  border: 2px solid rgb(183, 183, 0);
  height: 15vh;
  width: auto;
  background-color: rgb(195, 195, 0);
  border-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center; 
 
}
.five
{
  border: 2px solid  rgb(183, 183, 0);
  height: 10vh;
  width: auto;
  background-color:rgb(195, 195, 0) ;
  border-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.font
{ 
  display: inline-block;
  justify-content: space-evenly;
  margin-left: 10%;
  padding: 2%;
  font-size: bolder;
  color: white;
}
.f2{
  display: inline-block;
   
  margin-left: 10%;
  padding-right:3%;
  margin-top: 2%;
  justify-content: space-evenly;  
}

.footer3
{
  border: 2px solid rgba(245, 28, 169, 0.905);
  height: 20vh;
  width: auto;
  background-color: rgba(245, 28, 169, 0.905);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0px;
}
.fimage
{
  display: inline-block;
  margin-left: 2%;
  margin-top: 5%;
  justify-content: space-evenly;

  
}
.footer4
{
  border: 2px solid rgba(245, 28, 169, 0);
  height: 20vh;
  width: auto;
  background-color: rgba(245, 28, 169, 0.905);
  padding-left: 45%;
  border-top: 0px;

}
.F1{
  text-align: justify;
  display: inline-block;
}

